<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Write a comment...", :required => true %>
    <%= hidden_field_tag :qa, 1 %>
    <%= hidden_field_tag :question_id, @question.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>